.root,
.text-field,
.combo-box,
.text-area {
    -fx-font-family: "Poppins";
}
.label {
    -fx-font-family: "Poppins SemiBold";
}

.button {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-weight: normal;

}
.choice-box{
    -fx-font-family: "Poppins";
}
.choice-box .label {
    -fx-font-family: "Poppins";
}
#lblTitulo {
    -fx-font-family: "Poppins Black";
    -fx-font-size: 58px;
}
.label-cuerpo {
    -fx-font-family: "Poppins Light";
}
.label-titulo {
    -fx-font-family: "Poppins Black";
}


.spinner .text-field {
    -fx-background-color: #0c2937;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


.spinner .arrow-button {
    -fx-background-color: #0c2937;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


.spinner .arrow-button .arrow {
    -fx-fill: white;
}





